{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/settings" method="post">
    <label for="fname">Setpoint</label>
    <input type="number" id="setpoint" name="setpoint" value="{{ data.setpoint }}" step="0.1">

    <label for="lname">P</label>
    <input type="number" id="var_p" name="P" value="{{ data.P }}" step="0.1">

    <label for="lname">I</label>
    <input type="number" id="var_i" name="I" value="{{ data.I }}" step="0.1">

    <label for="lname">D</label>
    <input type="number" id="var_d" name="D" value="{{ data.D }}" step="0.1">
  
    <input type="submit" value="Submit">
  </form>
{% endblock %}